{% extends 'layout/app.html' %}

{% load static %}

{% block body %}
    <div id="content-wrapper">

        <!-- <div class="container-fluid"> -->


            <div class="card mb-3 z-depth-0">
                <div class="card-header">
                    <i class="fas fa-key"></i>
                    SSO Settings
                </div>
                <div class="card-body">
                    <form class="form-horizontal" method="POST">
                        {% csrf_token %}

                        <div class="form-group">
                            <div class="form-row">
                                <div class="col-md-5">
                                    {% if messages %}
                                <ul class="messages">
                                {% for msg in messages %}       
                                
                                <div class="alert alert-{{msg.level_tag}}" role="alert">
                                {{msg.message}}
                                </div>
                                
                                {% endfor %}
                                </ul>
                                {% endif %}

                                    <div class="form-label-group">
                                        <input type="text" class="form-control" name="metadataurl" placeholder="metadataurl" id="metadataurl" required>
                                        <label for="metadataurl">Metadata Auto Conf Url</label>
                                    </div>
                                </div>
                            </div>
                        </div>



                        <div class="form-group">
                            <div class="form-row">
                                <div class="col-md-5">
                                    <div class="form-label-group">
                                        <input type="text" class="form-control" name="assertion" placeholder="assertion" id="assertion" required>
                                        <label for="assertion">Assertion URL</label>
                                    </div>
                                </div>
                            </div>
                        </div>


                                                <div class="form-group">
                            <div class="form-row">
                                <div class="col-md-5">
                                    <div class="form-label-group">
                                        <input type="text" class="form-control" name="entity" placeholder="Entity" id="entity" required>
                                        <label for="entity">Entity ID</label>
                                    </div>
                                </div>
                            </div>
                        </div>


                        <button class="btn btn-success z-depth-0" type="submit">Update<span></span>
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascript %}

{% endblock %}